.projects {
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 20px;

  background: rgba(var(--background-color), 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
  border: 1px solid var(--border-primary-color);
}

.projects-container {
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
  flex-wrap: wrap;
  gap: 20px;
}

.projects h3 {
  margin-bottom: 20px;
  font-size: 1.3rem;
  font-weight: 500;

  color: var(--text-color-primary);
}

.card-project {
  width: 290px;
  height: 300px;
  padding: 20px;

  border-radius: 10px;
  border: 1px solid var(--border-primary-color);
  background-color: var(--background-color);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-project h5 {
  font-weight: 600;
}

.card-project p {
  text-align: justify;
  font-size: 0.8rem;
}

.card-project {
  margin-bottom: 20px;
}

.about-bottom {
  margin-bottom: 220px;

  background: linear-gradient(to bottom, var(--secondary-color), transparent);
  width: 100vw;
  height: 10px;
  background-color: var(--primary-color);
  border-radius: 0px 0px 0px 25px;
}

.card-project span {
  font-size: 0.9rem;
  border-radius: 25px;
  border: 1px solid var(--border-primary-color);

  padding: 3px 10px 3px 10px;

  margin-right: 6px;
}

.github-card-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  width: 100px;
  padding: 2px;
  border-radius: 10px 10px 10px 10px;
  border: 1px solid var(--border-primary-color);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.github-card-button p {
  font-size: 1rem;
}

.github-card-button:hover {
  background-color: var(--border-primary-color);
}

.github-card-button:hover {
  background-color: var(--border-primary-color);
}
