.about-bottom {
  margin-bottom: 30px;

  background: linear-gradient(to bottom, var(--secondary-color), transparent);
  width: 100vw;
  height: 10px;
  background-color: var(--primary-color);
  border-radius: 0px 0px 0px 25px;
}

.education-card h5 {
  font-size: 0.9rem;
  font-weight: 600;
}

.education-card p {
  font-size: 0.9rem;
}

.education-card span {
  font-size: 0.8rem;
}
