.about {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 20px;

  background: rgba(var(--background-color), 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
  border: 1px solid var(--border-primary-color);
}

.about h3 {
  margin-bottom: 20px;
  font-size: 1.3rem;
  font-weight: 500;

  color: var(--text-color-primary);
}

.about p {
  text-align: justify;
  font-size: 0.9rem;

  color: var(--text-color-secondary);
}

.about h4 {
  font-weight: 600;
}

.about-bottom {
  margin-bottom: 30px;

  background: linear-gradient(to bottom, var(--secondary-color), transparent);
  width: 100vw;
  height: 10px;
  background-color: var(--primary-color);
  border-radius: 0px 0px 0px 25px;
}

.education-card h5 {
  font-size: 0.9rem;
  font-weight: 600;
}

.education-card p {
  font-size: 0.9rem;
}

.education-card span {
  font-size: 0.8rem;
}
