.button-primary {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  padding: 10px 40px;
  border-radius: 25px;
  border: 1px solid var(--primary-color);
}

.fullcolor {
  background-color: var(--primary-color);
  color: white;
}

.fullcolor:hover {
  background-color: #006a5b;
}

.fullcolor:active {
  transform: scale(0.99);
}

/* Botão sem fundo */
.no-color {
  background-color: transparent;
  color: var(--text-color-secondary);
  border-color: var(--text-color-secondary);
}

.no-color:hover {
  background-color: #006a5b;
  border-color: #006a5b;
  color: white;
}

.no-color:active {
  transform: scale(0.99);
}
