.footer {
  width: 100vw;
  margin-top: 20px;

  display: flex;
  justify-content: center;

  background-color: var(--background-color);
  border-top: 2px solid var(--primary-color);
  color: var(--text-color-secondary);

  position: relative;
}

.footer p {
  padding: 20px;
}
