body,
html {
  overflow-x: hidden;
  position: absolute;
}
html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--background-color);
  color: var(--text-color-primary);
}

.wrapper {
  display: grid;
  grid-template-columns:
    1fr
    min(65ch, 100%)
    1fr;
  & > * {
    grid-column: 2;
  }
  margin-top: 150px;
}

main h1 {
  margin-left: 20px;
  margin-right: 20px;
  text-align: left;
  font-size: 3rem;
  font-weight: 700;
}

main h2 {
  text-align: left;
  font-size: 1.3rem;
  margin-left: 20px;
  margin-right: 20px;
  color: var(--text-color-secondary);
}

@media (max-width: 768px) {
  main h1 {
    margin-left: 10px;
    margin-right: 20px;
    font-size: 2rem;
  }

  main h2 {
    font-size: 1.3rem;
    margin-left: 20px;
    margin-right: 20px;
    color: var(--text-color-secondary);
  }

  .wrapper .button-container {
    gap: 10px;
  }
}

@media (max-width: 480px) {
  main h1 {
    font-size: 1.7rem;
    margin-left: 20px;
    margin-right: 20px;
  }

  main h2 {
    font-size: 1.1rem;
    margin-left: 20px;
    margin-right: 20px;
    color: var(--text-color-secondary);
  }
}

.particles {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: -1;
}
