.wrapper {
  display: grid;
  grid-template-columns:
    1fr
    min(65ch, 100%)
    1fr;
  & > * {
    grid-column: 2;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
  background: #007bff;
  color: white;
  max-width: 1280px;
  margin: 0 auto;
  width: 100%;
}

.nav {
  padding: 8px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 50px;
  background-color: white;
  display: flex;
  gap: 15px;
}

.nav a {
  color: black;
  text-decoration: none;
  font-size: 0.8rem;
}

/* Efeito de fundo com blur */
.modal-overlay {
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(3px); /* AQUI FAZ O BLUR */
  display: flex;
  align-items: flex-start; /* Alinha o modal no topo */
  padding-top: 25px; /* Margem no topo */
  justify-content: center;
  border-color: #cececf;
}

/* Remove bordas padrões do react-modal */
.modal-content {
  outline: none;
  color: #52525c;
}
