.wrapper {
  display: grid;
  grid-template-columns:
    1fr
    min(65ch, 100%)
    1fr;
  & > * {
    grid-column: 2;
  }
  margin-top: 150px;
}

main h1 {
  margin-left: 20px;
  margin-right: 20px;
  text-align: left;
  font-size: 3rem;
  font-weight: 700;
}

main h2 {
  text-align: left;
  font-size: 1.5rem;
  margin-left: 20px;
  margin-right: 20px;
}

@media (max-width: 768px) {
  main h1 {
    margin-left: 10px;
    margin-right: 20px;
    font-size: 2rem;
  }

  main h2 {
    font-size: 1.3rem;
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media (max-width: 480px) {
  main h1 {
    font-size: 1.8rem;
    margin-left: 20px;
    margin-right: 20px;
  }

  main h2 {
    font-size: 1.2rem;
    margin-left: 20px;
    margin-right: 20px;
  }
}

.wrapper div {
  margin: 20px 20px;

  /* text-align: center; */
  gap: 20px;
}

.wrapper div button:first-child {
  background-color: #228b22;
  margin-right: 20px;
  color: white;
}
.wrapper div button {
  padding: 10px 40px;
  border-radius: 25px;
  border: 1px solid #228b22;
  box-shadow: 0 10px 15px -3px rgba(39, 39, 42, 0.05),
    0 4px 6px -2px rgba(39, 39, 42, 0.05);
}

article {
  width: 100%;
  margin-top: 200px;
  background: rgba(255, 255, 255, 0.1);
  /* background-color: white; */
  backdrop-filter: blur(10px); /* Efeito de vidro */
  -webkit-backdrop-filter: blur(10px); /* Suporte para Safari */
  border-radius: 10px; /* Bordas arredondadas */
  padding: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3); /* Borda sutil */
  border: 1px solid rgb(245, 245, 245);
  /* border: 1px solid #228b22; */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

article h3 {
  margin-bottom: 20px;
  font-size: 1rem;
  font-weight: 500;
}

article p {
  text-align: justify;
}

main img {
  text-align: center;
}
